{% extends "base.html" %}

{% load static %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script src={% static "js/show_album.js" %} defer></script>
{% endblock javascript %}

{% block content %}

<h3>Album Detail</h3>

<a href={% url 'list_albums' %}>Back to all albums</a>
<div class="ma5 pa2 lh-copy ba b--light-silver br2">
  <p class="album_title f2 fw6 db black">{{ album.title }}</p>
  <p class="f3 dark-pink b">{{ album.artist.name }}</p>
  <p class="f5 gray">{{ album.release_date }}</p>
  {% for genre in genres %}
    <a href={% url 'show_genre' slug=genre.slug %} class="f7 link br-pill ba bw1 ph2 pv1 mb2 dib white bg-dark-gray">{{genre}}</a>
  {% endfor %}
  <div class="favorite">
    <a href={% url 'favorite' album_pk=album.pk %} class="fav-link" id="fav-link" data-favorited={{favorited|lower}}>
      <i class="{% if favorited %} fas {% else %} far {% endif %} fa-heart hot-pink f3"></i>
    </a>
  </div>
  <div>
  <a href={% url 'edit_album' pk=album.pk%} class="f8 blue no-underline underline-hover"><i class="fa fa-edit ph2 pink"></i>edit</a>
  <a href={% url 'delete_album' pk=album.pk%} class="f8 blue no-underline underline-hover"><i class="fa fa-times ph2 pink"></i>delete</a>
  </div>
</div>

{% endblock content %}

