{% extends "base.html" %}

{% block content %}

<h1> {{ genre.name }} </h1>
{% for album in albums %}
<div class="album mv3 ba b--light-silver pa1">
  <a href={% url 'show_album' pk=album.pk %} class="link dark-pink lh-title mv3">
            <span class="fw7 underline-hover">{{ album.title }}</span>
  </a>
  <p class="db black-60 mt2">{{ album.artist.name }}</p>
</div>
{% empty %}
<p>Hmm, no albums in that genre. <a href={% url 'add_genre'} class="link dark-pink lh-title mv3">Add one?</a></p>
{% endfor %}



{% endblock content %}
